@import '../../styles/settings.scss';

.input {
  min-width: 200px;
  background: $color-light;
  padding: $base-size (
    $base-size * 1.5
  );
margin: 0 ($base-size * 4) $base-size 0;
font-family: $font-text;
border-radius: $radius;
border: 2px solid;
border-color: $color-one;
color: $color-warning;
font-weight: bold;
font-size: 20px;
box-shadow: 0 2px 4px $color-one, 0 4px 8px $color-light, 0 8px 16px $color-one;
}

.input::placeholder {
  color: $color-dark;
  font-style: italic;
  font-size: 14px;
}